<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>
<div mat-dialog-content>
    <form [formGroup]="userForm" class="dialog-form">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>User Type</mat-label>
            <mat-select formControlName="userId">
                <mat-option *ngFor="let userType of userIdTypeList" [value]="userType.id">
                    {{ userType.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Title</mat-label>
            <input matInput required formControlName="title" placeholder="Name" />
        </mat-form-field>

        <div class="checkbox-container">
            <mat-checkbox formControlName="completed">Completed</mat-checkbox>
        </div>
    </form>
</div>

<div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button color="primary" [disabled]="!userForm.valid" (click)="onSave()">Save</button>
</div>