.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;


    &__header {
        display: flex;
        justify-content: space-between;
        border: 2px solid red;
        padding: 0 0 0.5rem 0;
    }
}

table {
    width: 100%;
    table-layout: fixed;
}